<%= render 'layouts/navbar' %>

<div class="container basic mt-3">
    <h2 style ="text-align: start;">Tutors</h2>
    <% if @tutors.any? %>
    <%= render 'tutors_list' %>
    <% else %>
    <p>No tutors available.</p>
    <% end %>
    <%= paginate @tutors %>
</div>
